* {
    padding: 0;
}

/* --------------------------- Sur Toute les Pages----------------------------- */
.Header,
.Contenu {
    display: flex;
}
.Header {
    justify-content: space-between;
}
.Header__title{
    font-size: 2.5em;
    font-weight: bold;
    animation: 5s slideGauche ;
}
.Header__switcher {
    border: 2px solid black;
    border-radius: 25em;
    width: 2.2em;
    height: 1em;
    margin-top: 0.7em;
    margin-right: 2em;
    animation: 3s slideDroite;
    cursor: pointer;
}
.NavBar li {
    padding: 0.2em 0em;
}
.NavBar a {
    font-family:'Catamaran', sans-serif;
    font-size: 1em;
    display: inline-block;
    padding: .8em 1em .6em 1em;
    font-weight: 600;
    animation: 5s slideGauche;
}
.active {
    color: #28CBA4;
}
.NavBar a:hover {
    color: brown;
}
.Presentation {
    padding: 1em 4em;
}
.Foot,
#Salutation,
#Rôle{
    font-size: 1.1em;
}
.NavBar ul li a,
.Foot ul li a{
    text-decoration: none;
}
.Foot {
    background-color: rgb(184, 183, 183);
    text-align: center;
}
.Foot ul {
    list-style: none;
    display: inline-block;
}
.Foot a:hover {
    display: inline-block;
    color: white;
}

/* ---------------------------------Sur la page Home--------------------------------------*/

aside.Flag {
    border: 1px solid black;
    width: 20em;
    margin: 1.4em;
    display: flex;
    animation: 2s slideDroite;
}
span.S {
    color: #28CBA4;
}
#btn {
    padding: 0.5em;
    cursor: pointer;
    background-color: #28CBA4;;
    -webkit-box-shadow: 6px 8px 10px 0px #28CBA4;;
    box-shadow: 6px 5px 20px 0px #28CBA4;
}
#btn:hover {
    background-color: #adf8e6;
    animation: 5s;
}

/* -------------------------------- Sur la page About-------------------------------------*/
.Presentation__perso,
.Presentation__edu {
    border: 1px solid black;
}
.Presentation__perso {
    margin-bottom: 0;
}
.Presentation__edu {
    margin-top: 1.6em;
}
td.P,
td.E {
    font-weight: bold;
    padding: 0em 0.7em;
}
.institut span {
    border: 1px solid;
}
.E {
    padding: 0em 0.7em;
}
aside.Profil__img {
    background-image: url(../assets/img1.jpg);
    background-size: cover;
    background-position: center;
    width: 10em;
    border: 3px solid rgb(200, 199, 199);
    border-radius: 1em;
    margin-top: 1.8em;
    margin-bottom: 1em;
    margin-left: 4em;
    text-indent: -9999px; /*Enlever le titre de l'image ainsi que l'icone*/
    cursor: pointer;
}

/* -------------------------------- Sur La page Contact------------------------------------*/
aside.Contact {
    border: 1px solid rgb(191, 191, 191);
    margin: 2.9em;
    padding: 2em;
}

/* -------------------------------- Les Animations ---------------------------------------*/
@keyframes slideGauche {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;

    }
}
@keyframes slideDroite {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}