* {
    padding: 0;
}

/* --------------------------- Sur Toute les Pages----------------------------- */
.Header,
.Contenu {
    display: flex;
}

.Header {
    justify-content: space-between;
}

.Header__title,
.NavBar{
    font-size: 2em;
    animation: 5s ;
}

.Header__switcher {
    border: 2px solid black;
    border-radius: 25em;
    width: 2.2em;
    height: 1em;
    margin-top: 0.7em;
    margin-right: 2em;
    cursor: pointer;
}

.NavBar li {
    padding: 0.2em 0em;
    text-align: center;
}

.active {
    color: blueviolet;
}

.Presentation {
    padding: 1em 4em;
}

.Foot,
#Salutation,
#Rôle{
    font-size: 1.1em;
}

.NavBar ul li a,
.Foot ul li a{
    text-decoration: none;
}

#btn {
    border-color: rgb(108, 227, 68);
    color: brown;
    padding: 0.5em;
    cursor: pointer;
}

.Foot {
    background-color: rgb(184, 183, 183);
    text-align: center;
}

.Foot ul {
    list-style: none;
    display: inline-block;
}

/* ---------------------------------Sur la page Home--------------------------------------*/

aside.Flag {
    border: 1px solid black;
    width: 20em;
    margin: 1.4em;
    display: flex;
}

span.White {
    border: 1px solid black;
    width: 5em;   
}

span.S {
    color: rgb(78, 207, 8);
    text-decoration: underline;
}

/* -------------------------------- Sur la page About-------------------------------------*/
.Presentation__perso,
.Presentation__edu {
    margin-bottom: 0;
}

td.P,
td.E {
    color: brown;
    font-weight: bold;
    padding: 0em 0.7em;
}

.institut span {
    border: 1px solid brown;
}

.E {
    padding: 0em 0.7em;
}

aside.Profil__img {
    border: 1px solid black;
    border-radius: 1em;
    margin-top: 1.8em;
    margin-bottom: 1em;
    cursor: pointer;
}

/* -------------------------------- Sur La page Contact------------------------------------*/
section.Message {
    border: 1px solid black;
    margin: 2em 3em;
}

aside.Contact {
    border: 1px solid black;
    margin: 2.5em;
    padding: 0.8em;
}

/* -------------------------------- Les Animations ---------------------------------------*/
@keyframes slideGauche {
    
}